.img-login {
    text-align: center;
}

h2{
    text-align: center;
}

.bg-desktop{
    opacity: 100%;
}

.container-login{
    text-align: center;
}

h4 {
    text-align: center;
}

.ou {
    text-align: center;
}

.checkbox-login {
    text-align: center;
}

