
h2{
    text-align: center;
}

.containerLogin{
    display: flex;
    margin: auto;
    
}

.bg-desktop{
    opacity: 100%;
}

.content-opacity {
    background-image: url(./src/img/bg-desktop.png);
    filter: opacity(0.4);
    z-index: -1;
    padding: 10% 5% 5% 5%;
    /* height: 100%; */
    /* width: 130%; */
}