.img-login {
    text-align: center;
    margin-top: 20%;
    flex-wrap: wrap;
}

.title{
    text-align: center;
}

.bg-desktop{
    opacity: 100%;
}

.container-login {
    text-align: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-reset{
    text-align: center;
}

.container-password{
    margin-bottom: 50%;
}

.register-login {
    text-align: center;
}

.checkbox-login {
    text-align: center;
}

.container-btn{
    text-align: center;
}

.input{
    margin: 1%;
}

.line{
    width: 95%;
    margin: 2%;
}

.btn-google{
    background-image: url(/img/google.);
    width: 250px;
    height: 90px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .login-btn{
        background-color:red;
    } 

}

@media(min-width: 1024px){
    .login-btn{
        background-color:#e6e6e6;
    }
}

.btn-google{
    background-image: url('/img/btn-google.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    display: inline-block;
    text-align: center;
}    